<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% if page.description %}
    <meta name="description" content="{{ page.description }}">
{% endif %}
<meta name="keywords" content="Machine Learning, PostgreSQL, Postgres, Python, Sklearn, Deploy, in-database">
<meta name="author" content="André Minoro Fusioka">
{% if page.title %}
    <title>{{ page.title }}</title>
{% endif %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="../resources/pages.css">
<link rel="stylesheet" href="../resources/navigation.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">