<nav class="nav-container">
    <ul>
        <li><a class="menu-link" href="#presentation">PGPYML</a></li>
        <li>
            <a class="menu-link" href="#install">Install</a>
            <ul class="sub-menu">
                <li><a class="menu-link" href="#prerequisites">Prerequisites</a></li>
                <li><a class="menu-link" href="#install-with-pgnxclient">Install with PGNXClient</a></li>
                <li><a class="menu-link" href="#install-with-git">Install with Git</a></li>
                <li><a class="menu-link" href="#creating-the-extension">Create the Extension</a></li>
                <li><a class="menu-link" href="#vagrant">Vagrant</a></li>
            </ul>
        </li>
        <li><a class="menu-link" href="#train-your-model">Train Your Model</a></li>
        <li><a class="menu-link" href="#deploy">Deploy</a></li>
    </ul>
</nav>